* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
}

.quiz-questions ul{
    list-style: none;
}

header{
    display:flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    font-size: 18px;
}

h1{
    font-size:30px;
}

main

#quiz-intro{
    text-align: center; 
}

#quiz-intro p{
    font-size:16px;
}

#quiz-intro button{
    font-size: 20px;
    background-color: rgb(78, 155, 129);
    border-radius: 15px;
    padding:8px 5px 8px 5px;
    margin-top:20px;
}

.quiz-question{
    /*display:none;*/
    position:relative;
}   

.quiz-question h2{
    text-align: center;
}

.quiz-question ul{
    text-align: left;
}

#answers button{
    background-color:rgb(78, 155, 129);
    border-radius: 5px;
    margin:5px 0px 5px 0px;
    font-size: 20px;
}

